[submodule "XCBase"]
	path = XCBase
	url = https://github.com/HomuraVehicle/XCBase.git
[submodule "homuraLib_v2"]
	path = homuraLib_v2
	url = https://github.com/HomuraVehicle/homuraLib_v2.git
[submodule "hmLib"]
	path = hmLib
	url = https://github.com/HomuraVehicle/hmLib.git
